wrfout_d03_2007-09-03_00-00-00_298K_subset.nc filter=lfs diff=lfs merge=lfs -text
wrfout_d03_2007-09-03_00-00-00_300K_subset.nc filter=lfs diff=lfs merge=lfs -text
wrfout_d03_2007-09-03_00-00-00_302K_subset.nc filter=lfs diff=lfs merge=lfs -text
wrfout_d03_2007-09-03_00-00-00_304K_subset.nc filter=lfs diff=lfs merge=lfs -text
